# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environment
venv/
.env/

# Ignore Build Artifacts
dist/
build/
*.spec
*.deb
*.exe
*.log

# Ignore PyInstaller Files
*.egg-info/
